.preview.markdown-body {
  flex: 0 0 50%;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
  color: #abb2bf;
  background: none;
}

.preview.markdown-body pre {
  background-color: rgba(27, 31, 35, 0.45);
}

.markdown-body h1,
.markdown-body h2 {
  border-color: #abb2bf !important;
}
